@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("./grid.min.css");

@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: -0.01em;
  color: #2b292d;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

button {
  border: none;
}

button:focus {
  border: none;
}

.section {
  padding: 80px 0;
}

.fill-button {
  width: 140px;
  padding: 12px 0;
  background-color: #3040c4;
  border-radius: 2px;
  display: block;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.05em;
}

.description {
  margin-bottom: 32px;
}

.description strong {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
}

.description .description-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.058823529411765‬;
  letter-spacing: -0.03em;
  margin-bottom: 24px;
}

.fill-button.inverted {
  color: #3040c4;
  background-color: #ffffff;
}

/* landing-page */
.landing {
  text-align: center;
  background-color: #fdded8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #2b292d;
  margin-bottom: 24px;
}

.landing-desc {
  margin-bottom: 24px;
}

.landing .button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .button-group .fill-button:first-child {
  margin-right: 8px;
}

/* testimonials */
.testimonials {
  background-color: #f4f5f7;
}

.testimonials-description h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.363636363636364‬;
  letter-spacing: -0.04em;
  margin-bottom: 16px;
}

.testimonials .col-12:first-child {
  margin-bottom: 56px;
}

/* program */
.program .row:nth-child(2) .col-12 {
  margin-bottom: 20px;
}

.program .row:nth-child(2) .col-12:last-child {
  margin-bottom: 0px;
}

.program .description strong {
  color: #009b4d;
}

.program-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0 32px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.5s ease-in-out, color 0.7s ease-in-out;
}

.program-detail:hover {
  background: #3141c5;
  color: white;
}

.program-detail:hover * {
  opacity: 1;
}

.program-detail img {
  height: 195px;
  width: auto;
  margin-bottom: 16px;
}

.program strong {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.333333333333333‬;
}

/* curriculum */
.curriculum .description strong {
  color: #0189d1;
}

.curriculum .row:first-child {
  margin-bottom: 48px;
}

.curriculum-image img {
  display: none;
}

.curriculum-detail strong {
  font-weight: 700;
}

.curriculum .row:last-child .col-12:first-child {
  margin-bottom: 40px;
}

/* banner */
.banner {
  padding: 40px 0;
  background-color: #f2f8fa;
}

.banner .col-12:first-child {
  margin-bottom: 16px;
}

.banner-image {
  padding: 20px 0;
}

.banner-image img {
  display: block;
  height: 190px;
  width: auto;
  margin: 0 auto;
}

.banner-header {
  margin-bottom: 24px;
  text-align: center;
}

.banner-header .banner-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.05em;
  margin-bottom: 16px;
}

.banner-form {
  text-align: center;
}

.banner-form .input-group input {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  padding: 12px 16px;
  margin-bottom: 8px;
  border: none;
  width: 100%;
}

.banner-form .input-group input:focus {
  outline: none;
}

.banner-form .fill-button {
  width: 100%;
  margin-bottom: 8px;
}

.banner-form span {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.538461538461538‬;
  letter-spacing: 0;
  color: #7b7b7e;
}

.banner-form span a {
  text-decoration: underline;
  color: #3040c4;
}

/* wider than 768px */
@media screen and (min-width: 768px) {
  p {
    font-size: 22px;
    line-height: 1;
    letter-spacing: -0.01;
  }

  .section {
    padding: 80px 0 96px 0;
  }

  .description strong {
    font-size: 22px;
    line-height: 1.090909090909091‬;
    margin-bottom: 16px;
  }

  .description {
    font-size: 56px;
    line-height: 1;
    margin-bottom: 72px;
  }

  /* landing-page */
  .landing {
    height: 568px;
  }

  .landing-title {
    font-size: 70px;
    line-height: 1.0285714;
    letter-spacing: -0.05em;
    margin-bottom: 32px;
  }

  .landing-desc {
    margin-bottom: 32px;
  }

  .fill-button {
    width: 160px;
    padding: 14px 0;
    border-radius: 2px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.55555;
    letter-spacing: -0.05em;
  }

  .landing .button-group .fill-button:first-child {
    margin-right: 16px;
  }

  /* testimonials */
  .testimonials-description h2 {
    font-size: 26px;
    line-height: 1.307692307692308‬;
  }

  .testimonials .col-12:first-child {
    margin-bottom: 0;
  }

  /* program */

  .program .description {
    text-align: center;
  }

  .program-detail {
    padding-bottom: 32px;
  }

  .program-detail img {
    margin: 24px;
  }

  /* curriculum */
  .curriculumn .row:first-child {
    margin-bottom: 24px;
  }

  .curriculum .row:last-child .col-12:first-child {
    margin-bottom: 0px;
  }

  .curriculum-image img {
    display: block;
    width: 450px;
    height: auto;
  }

  .curriculum-detail {
    margin-bottom: 0;
  }

  .curriculum-detail p {
    font-size: 18px;
    line-height: 1.444444444444444‬;
  }

  /* banner */
  .banner .col-12:first-child {
    margin-bottom: 0;
  }

  .banner-image {
    padding: 8px 0 7px 0;
    display: flex;
    justify-content: flex-start;
  }

  .banner-image img {
    height: 285px;
    width: auto;
    padding: 0;
    margin: 0;
  }

  .banner-header {
    text-align: left;
  }

  .banner-header .banner-title {
    font-size: 40px;
    margin-bottom: 16px;
  }

  .banner-form {
    text-align: left;
  }

  .banner-form .input-group {
    margin-bottom: 4px;
    display: flex;
    justify-content: flex-between;
  }

  .banner-form .input-group input {
    font-size: 18px;
    line-height: 1.333333333333333‬;
    padding: 16px 16px;
    border: none;
    width: 362px;
    margin-right: 8px;
    margin-bottom: 0;
  }

  .banner-form .input-group input:focus {
    outline: none;
  }

  .banner-form .fill-button {
    font-size: 18px;
    line-height: 1.333333333333333‬;
    letter-spacing: -0.02em;
    width: 160px;
    margin-bottom: 0;
  }

  .banner-form span {
    font-size: 14px;
    line-height: 1.714285714285714‬;
  }

  .banner-form span a {
    text-decoration: underline;
    color: #3040c4;
  }
}

@media screen and (min-width: 768px) and (max-width: 962px) {
  .curriculum-image img {
    width: 100%;
    height: auto;
  }
}
