/* ▼ WHERE YOUR CODE BEGINS */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


*{
    box-sizing:border-box;
    margin:0;
    font-family: 'Lato', sans-serif;
}

body{
    background:black;
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;

}

.line-button{
    position: relative;
    width:110px;
    height: 56px;
    font-size:16px;
    line-height:1.25‬;
    /* padding:0; */
    border:none;
    background: #E5E5E5;
}


.line-button::after{
    display:block;
    content:'';
    height: 2px;
    width: 0px;
    background: #0066FF;
    transition: width 1s;
    position: absolute;
    bottom: 0;
    left:0;
}

.line-button:hover::after{
    width:100%;
}